<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Eventhub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
     <li class="nav-item">
       <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
     </li>
     <li class="nav-item">
      <a class="nav-link" routerLink="/special" routerLinkActive="active">Members</a>
    </li>
    </ul>
    <ul class="navbar-nav">
      <a class="nav-link" routerLink="/login" *ngIf="!_authService.loggedIn()" routerLinkActive="active">Login</a>
      <a class="nav-link" routerLink="/register" *ngIf="!_authService.loggedIn()" routerLinkActive="active">Register</a>
      <a href="" class="nav-link" routerLink="/events" style="cursor: pointer;" *ngIf="_authService.loggedIn()" (click)="_authService.logoutUser()">Logout</a>
    </ul>
  </div>
</nav>
<div class="container">
<router-outlet></router-outlet>
</div>